@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Shrikhand&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color:  #F07159;
  --secondary-color:#FBC88D;
  --accent1-color:  #80A7d5;
  --accent2-color:  #DECC61;
  --accent3-color:  #C7BBA1;
  --accent4-color:  #fde5a2;
/*fonts*/
  --heading-font: "Shrik hand";
  --paragraph-font: Josefin Sans, Helvetica, sans-serif;
/* color of fonts */
  --headline-color-on-white: #F07159;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #bcd3e4; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #C7BBA1  ;
  --nav-link-color: #F07159;
  --nav-background-color: #DECC61;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #eddd88;
}

.logo{
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
}
.home-main-title{
    color:#F07159;
    text-align: center;
    font-family: Shrik hand;
}

body {
    background-color:#ffefc3;
    font-size: 22px;


}
header {
    background-color:#ffefc2;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px;
}
h1{
    color: #F07159;
}
h2{
    font-family: Josefin Sans;
    font-size: 20px;
    padding-top: 20px;
    color: #F07159
}
h3{
    font-family: Josefin Sans;
    font-size: 20px;   
}


.about-me-title{
    color:#bcd3e4;
}
.idea-main-title{
    color:#DECC61;
}
nav{
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1em;
}
nav{
    list-style-type: none;
    display: flex;
  
}
nav a {
    padding:1em;
    min-width: 100px;
    text-decoration: none;
    padding: 10px auto;
    
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.page1{
    width: 700%;
    padding-left: 20px;
    padding-top: 200px;
}
.page1-2{
    width: 80%;
    padding-left: 200px;
    padding-top: 100px;
}
.home-second-paragraph{
    color:#F07159;
    text-align: center;
    font-family: Shrik hand;
}
  .website{
    width:80%;
    padding-left: 100px;
    padding-right: 80px;
    text-align: center;
}
.social{
    padding: 100px;
}

/* form 2 */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #DECC61; /* Gray border */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #bcd3e4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #80A7d5;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 50px;
  background-color: #DECC61;
  padding: 30px;
}

  
  /* form css */
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border-radius: 1em;
    font-family: Josefin sans;
    color:#80A7d5;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid rgb(255, 255, 255);
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 50%; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: rgb(198, 159, 108);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* second page */
body{
    display: grid;
    
}
.idea-main-title{
    color:#bcd3e4;
    text-align: center;
}
h1{
    color: #F07159;
   
    
}
h4{

    text-align: center;
   
}
.page2{
    width: 90%;
    padding-left: 70px;
   
}
.page2-2{
    width:80%;
    padding-left: 130px;
    padding-top: 100px;
}